# Exam 2 Answer Javier Rubio Serrano

## Problem 1:  Controls

Write a Python script that proves that the lines of data in Germplasm.tsv, and LocusGene are in the same sequence, based on the AGI Locus Code (ATxGxxxxxx).  (hint: This will help you decide how to load the data into the database)

In [1]:
import re
germplasm = open ("Germplasm.tsv" , "r")
germplasm.seek(0)
for AGI_Germplasm in germplasm.readlines():
    AGI_Germplasm = AGI_Germplasm.split("\t")[0]
    print(AGI_Germplasm)
germplasm.close()

locusGene = open ("LocusGene.tsv" , "r")
locusGene.seek(0)
for AGI_locusGene in locusGene.readlines():
    AGI_locusGene = AGI_locusGene.split("\t")[0]
    print(AGI_locusGene)
locusGene.close()

if (AGI_Germplasm == AGI_locusGene):
    print("same sequence")
else:
    print("they are not equals, different sequence!")

Locus
AT1G01040
AT1G01060
AT1G01140
AT1G01220
AT2G03720
AT2G03800
AT2G04240
AT2G05210
AT3G02130
AT3G02140
AT3G02230
AT3G02260
AT3G02310
AT3G02680
AT3G02850
AT3G02870
AT3G03260
AT4G14790
AT4G15210
AT4G15560
AT4G15570
AT4G15802
AT4G15880
AT4G16420
AT4G16480
AT5G10480
AT5G10510
AT5G11110
AT5G11260
AT5G11510
AT5G12200
AT5G13290
Locus
AT1G01040
AT1G01060
AT1G01140
AT1G01220
AT2G03720
AT2G03800
AT2G04240
AT2G05210
AT3G02130
AT3G02140
AT3G02230
AT3G02260
AT3G02310
AT3G02680
AT3G02850
AT3G02870
AT3G03260
AT4G14790
AT4G15210
AT4G15560
AT4G15570
AT4G15802
AT4G15880
AT4G16420
AT4G16480
AT5G10480
AT5G10510
AT5G11110
AT5G11260
AT5G11510
AT5G12200
AT5G13290
same sequence

## Problem 2:  Design and create the database.  
* It should have two tables - one for each of the two data files.
* The two tables should be linked in a 1:1 relationship
* you may use either sqlMagic or pymysql to build the database

In [3]:
%load_ext sql
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [3]:
%sql create database dataexam;
%sql show databases

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('information_schema',),
 ('dataexam',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [4]:
%sql use dataexam;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [5]:
%sql CREATE TABLE germplasm (locus VARCHAR(100) NOT NULL PRIMARY KEY, germplasm VARCHAR(100) NOT NULL, phenotype VARCHAR(300) NOT NULL, pubmed INTEGER NOT NULL);
%sql DESCRIBE germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('locus', 'varchar(100)', 'NO', 'PRI', None, ''),
 ('germplasm', 'varchar(100)', 'NO', '', None, ''),
 ('phenotype', 'varchar(300)', 'NO', '', None, ''),
 ('pubmed', 'int(11)', 'NO', '', None, '')]

In [4]:
%sql CREATE TABLE locusGene (locus VARCHAR(100) NOT NULL PRIMARY KEY, gene VARCHAR(100) NOT NULL, proteinLength INTEGER NOT NULL);
%sql DESCRIBE locusGene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('locus', 'varchar(100)', 'NO', 'PRI', None, ''),
 ('gene', 'varchar(100)', 'NO', '', None, ''),
 ('proteinLength', 'int(11)', 'NO', '', None, '')]

## Problem 3: Fill the database
Using pymysql, create a Python script that reads the data from these files, and fills the database.  There are a variety of strategies to accomplish this.  I will give all strategies equal credit - do whichever one you are most confident with.

In [ ]:
import pymysql.cursors

import csv
locusGene0 = open("LocusGene.tsv" , "r")
locusGene1 = csv.DictReader(locusGene0, delimiter = "\t", quotechar = '"')

germplasm0 = open("Germplasm.tsv" , "r")
germplasm1 = csv.DictReader(germplasm0, delimiter = "\t", quotechar = '"')

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='dataexam',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

#connection.autocommit = False

try:
    with connection.cursor() as cursor:
        
        for row in locusGene1:
            sql = """ INSERT INTO locusGene (locus, gene, proteinLength)
            VALUES('{}','{}','{}')""".format(row["Locus"], row["gene"], row["proteinLength"])
            cursor.execute(sql)
            
        for row in germplasm1:   
            sql = """ INSERT INTO germplasm (locus, germplasm, phenotype, pubmed)
            VALUES('{}','{}','{}','{}')""".format(row["Locus"],row["germplasm"], row["phenotype"], row["pubmed"])
            cursor.execute(sql)
            
    connection.commit()
        
finally:
    print("")
    
locusGene0.close()
germplasm0.close()

## Problem 4: Create reports, written to a file

1. Create a report that shows the full, joined, content of the two database tables (including a header line)

2. Create a joined report that only includes the Genes SKOR and MAA3

3. Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

4. Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

When creating reports 2 and 3, remember the "Don't Repeat Yourself" rule! 

All reports should be written to **the same file**.  You may name the file anything you wish.

In [ ]:
# 1. Create a report that shows the full, joined, content of the two database tables (including a header line)
report1 = %sql SELECT * FROM germplasm, locusGene WHERE germplasm.locus = locusGene.locus;
report1 = str(report1)

#2. Create a joined report that only includes the Genes SKOR and MAA3 
report2 = %sql SELECT * FROM germplasm, locusGene WHERE (locusGene.gene = 'MAA3' OR locusGene.gene = 'SKOR') AND germplasm.locus = locusGene.locus;
report2 = str(report2)

#3. Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)
report3 = %sql SELECT COUNT(*) AS "Number of entries for each Chromosome" FROM locusGene;

#4. Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)
report4 = SELECT AVG (locusGene.proteinLength) AS "Average protein length for the genes on each Chromosome" FROM LocusGene;
report4 = str(report4)

Reports = open("Newfile_Reports_Exam.csv", "w")
Reports.write("Problem 4 REPORT 1:{}\nProblem 4 REPORT 2:{}\nProblem 4 REPORT 3:{}\nProblem 4 REPORT 4:{}".format(report1, report2, report3, report4))
Reports.close()

file_reports = open("Newfile_Reports_Exam.csv", "r")
print(file_reports.read())
file_reports.close()